<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="DASHBOARD">Dashboard</a>
      <a mat-list-item [routerLink]="WORK_ITEM_AGE">Work Item Age</a>
      <a mat-list-item [routerLink]="CYCLE_TIME">Cycle Time</a>
      <a mat-list-item [routerLink]="THROUGHPUT">Throughput</a>
      <a mat-list-item [routerLink]="WORK_IN_PROGRESS">Work in Progress</a>
      <a mat-list-item disabled routerLink="/settings">Monte Carlo Simulation</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>metriqs - a qvest digital software</span>
      <span class="spacer"></span>
      <button mat-button (click)="clearDatabase()">
        <mat-icon>delete_forever</mat-icon>
        clear Database
      </button>
      <mat-form-field appearance="outline">
        <mat-label>Select Datasource</mat-label>
        <mat-select [(value)]="selectedDatasource" (selectionChange)="onDatasourceChange($event)">
          <mat-option *ngFor="let datasource of datasources" [value]="datasource.id">{{ datasource.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button [routerLink]="DATASOURCE_LIST">
        <mat-icon>settings</mat-icon>
        Manage Datasources
      </button>
      <button mat-button (click)="login()">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-button (click)="refreshIssues()">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
